._01d {
    background-image: url(icons/01d.png) !important;
    background-repeat: no-repeat;
}

._01n {
    background-image: url(icons/01n.png) !important;
    background-repeat: no-repeat;
}

._02d {
    background-image: url(icons/02d.png) !important;
    background-repeat: no-repeat;
}

._02n {
    background-image: url(icons/02n.png) !important;
    background-repeat: no-repeat;
}

._03d, ._03n {
    background-image: url(icons/03d.png) !important;
    background-repeat: no-repeat;
}

._04d, ._04n {
    background-image: url(icons/04d.png) !important;
    background-repeat: no-repeat;
    text-align: center;
}

._09d, ._09n {
    background-image: url(icons/09d.png) !important;
    background-repeat: no-repeat;
}

._10d {
    background-image: url(icons/10d.png) !important;
    background-repeat: no-repeat;
}

._10n {
    background-image: url(icons/10n.png) !important;
    background-repeat: no-repeat;
}

._11d, ._11n {
    background-image: url(icons/11d.png) !important;
    background-repeat: no-repeat;
}

._13d, ._13n {
    background-image: url(icons/13d.png) !important;
    background-repeat: no-repeat;
}

._50d, ._50n {
    background-image: url(icons/50d.png) !important;
    background-repeat: no-repeat;
}